$main-color: #FFA501;

$darkfont: #0e0e0e;
$lightfont: #fff;

$transition: all .2s;


// html.light{
//   $mainfont: #0e0e0e;
//   $bgc: #fff;
//   $sidebgc: transparent;
// }
// html.dark{
//   $mainfont: #f5f5f6;
//   $bgc: #484847;
//   $sidebgc: rgba($bgc, 28%);
// }

$mainfont: #0e0e0e;
// $mainfont: #f5f5f6;
$bgc: #fff;
// $bgc: #484847;
$sidebgc: transparent;
// $sidebgc: rgba($bgc, 28%);