$darkfont: #0e0e0e;
$lightfont: #fff;

$transition: all .2s;

html.light{
  --color-main: #FFA501;
  --color-text: #0d1117;
  --color-bg: #fff;
  --image-promo-bg: url('../img/main_bg.jpg') no-repeat 50% / cover;
  --image-promo-bg-cell: url('../img/main_bg-cell.jpg') no-repeat 50% / cover;
}
html.dark{
  --color-main: #ff7401;
  --color-text: #fbf1c7;
  --color-bg: #1d2021;
  --image-promo-bg: url('../img/main_bg_d.jpg') no-repeat 50% / cover;
  --image-promo-bg-cell: url('../img/main_bg-cell_d.jpg') no-repeat 50% / cover;
}