.btn {
  height: 45px;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  transition: $transition;
  color: var(--color-text);
  border: none;
  white-space: nowrap;
  &:hover {
    color: $darkfont;
  }
  &__primary {
    background-color: var(--color-main);
    box-shadow: 0px 4px 4px rgba($darkfont, .1);
    &:hover {
      border-radius: 2px;
      box-shadow: 7px 5px 5px rgba($darkfont, .3);
    }
  }
  &__transparent {
    margin-left: 18px;
    background-color: transparent;
    &:hover {
      border-radius: 2px;
      background-color: rgba($darkfont, .15);
      box-shadow: 0px 4px 4px rgba($darkfont, .20);
    }
  }
}