.promo {
  height: 100vh;
  position: relative;
  background: var(--image-promo-bg);
  padding-top: 26vh;
  &__ttl {
    margin-top: 11px;
  }
  &__btns {
    margin-top: 29px;
    display: flex;
    max-width: 300px;
  }
}